$week: (
  "mon": 0,
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6
);
$size: 100;
$gap: 1;
$calendar-width: #{($size + $gap) * 7};

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: #{$calendar-width}px;

  > div {
    position: relative;
    width: #{$size}px;
    height: #{$size}px;
    margin: 0 #{$gap}px #{$gap}px 0;
    box-sizing: border-box;

    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #eee;
    border: 1px solid #000;

    &:hover {
      background-color: pink;
      transform: scale(1.2);
      transition: background-color 0.5s, transform 0.5s;
      z-index: 1;
      cursor: pointer;
    }

    &::after {
      display: block;
      line-height: #{$size}px;
      text-align: center;
    }
  }
}

@for $day from 0 to 31 {
  .calendar div:nth-child(#{$day + 1})::after {
    content: "#{$day + 1}";
  }
  @if ($day >= 28) {
    .calendar div:nth-child(#{$day + 1}) {
      display: none;
    }
    .calendar-#{$day + 1} div:nth-child(#{$day + 1}) {
      display: block;
    }
  }
}

@each $day-name, $day-num in $week {
  .calendar-#{$day-name} div:first-child {
    margin-left: #{($size + $gap) * $day-num}px;
  }
}
